{% load static %}
<div class="message-thread-header">
    <img class="close-message-thread-btn" src="{% static 'tradeboard/svg/back-btn.svg' %}" onclick="removeMessageThread()">
    {% if messageThread.buyer == user %}
    <img class="message-thread-header-profile-pic" src="{{messageThread.post.seller.profile.image.url}}">
    <p class="message-thread-header-reciever-name">{{messageThread.post.seller.first_name}} {{messageThread.post.seller.last_name}}</p>
    {% else %} 
    <img class="message-thread-header-profile-pic" src="{{messageThread.buyer.profile.image.url}}">
    <p class="message-thread-header-reciever-name">{{messageThread.buyer.first_name}} {{messageThread.buyer.last_name}}</p>
    {% endif %}
</div>
<div class="message-thread-scroll" id={{messageThread.pk}}>
    {% include "tradeboard/components/message_thread_scroll.html" %}
</div>
<div class="input-section">
    <form class= "messaging-form" id= "messaging-form" method="POST" name="messaging-form" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        <img class="message-image-upload-preview inactive">
        <div class="message-offer-input-panel inactive">
            <p class="offer-prompt">Name your price please:</p> {{ message_form.offer }}
            <img src="{% static 'tradeboard/svg/close2.svg' %}" height=15px width=15px>
        </div>
        <div class="message-text-image-input-panel">
            {{ message_form.image }}
            {{ message_form.text }} {% comment '' %} class = "message-text-input-field" %}{% endcomment %}
            <div class="messaging-btns">
                <img class="messaging-options-btn" id="messageThread-{{messageThread.id}}" src="{% static 'tradeboard/svg/options.svg' %}" onclick="showOtherActions()" height=15px width=15px>
                <div class="messaging-options inactive">
                    <label class = "messaging-option image-upload-opt" for="{{ message_form.image.id_for_label }}" onclick="showOtherActions()">Upload an image</label>
                    <label class = "messaging-option make-an-offer-opt" onclick='showOfferPanel(true)'>Make an Offer</label>
                </div>
                <button class= "send-btn" type = "button" name="send" onclick="sendMessage()">
                    <img src="{% static 'tradeboard/svg/send.svg' %}" height= 15px width=15px>
                </button>
            </div>
            <input class="invisible" type="text" name="action" value="send-message">
            <input class="invisible" type="text" name="messageThread" value="{{messageThread.pk}}"> 
        </div>
    </form>
</div>
<script type="text/javascript">
    function periodicMessageThreadReload(){
        if($(".message-thread-scroll").length>0){
            if($(".message-thread-scroll")[0].scrollHeight - $(".message-thread-scroll").height() - $(".message-thread-scroll")[0].scrollTop < 10){
                reloadMessageThread($(".message-thread-scroll")[0].id, $("#latest-loaded-message-time").attr("datetime"));
            }
        }
        console.log($(".message-thread-scroll").length>0)
        {% comment %} console.log($(".message-thread-scroll")[0].scrollHeight - $(".message-thread-scroll").height() - $(".message-thread-scroll")[0].scrollTop)
        console.log("periodic relod called")
        console.log($(".message-thread-scroll")[0].scrollTop)
        console.log($(".message-thread-scroll")[0].scrollHeight - $(".message-thread-scroll").height()) {% endcomment %}
    }
    function reloadMessageThread(id, since){
        {% comment %} var date = new Date(since);
        console.log(date); {% endcomment %}
        $.ajax({
            url: "{% url 'tradeboard-home' %}",
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            method: "POST",
            data: {
                "action":"reload-message-thread",
                "id":id,
                "since": since
            },
            success: function (resp) {
                console.log("reloaded", resp)
                if(resp){
                    $('.message-thread-scroll').html(resp);
                }
                else{
                    console.log("nothing more here")
                }
            },
            error: function(error) {
                console.log("error detected when reloading MessageThread")
                console.log(error)
            }
        });
    }

    setInterval(periodicMessageThreadReload, 6000);

    function respondToOffer(response, msgId){
        $.ajax({
            url: "{% url 'tradeboard-home' %}",
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            method: "POST",
            data: {
                'action':'respond-to-offer',
                'response':response,
                'id': msgId
            },
            success: function (resp) {
                $('.messagethread-panel').toggleClass("inactive", false)
                $('.messagethread-panel').html(resp);
            },
            error: function(error) {
                console.log("error detected with confirmation popup")
                console.log(error)
            }
        });
    }
    function retractOffer(msgId){
        $.ajax({
            url: "{% url 'tradeboard-home' %}",
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            method: "POST",
            data: {
                'action':'retract-offer',
                'id':msgId
            },
            success: function (resp) {
                $('.messagethread-panel').toggleClass("inactive", false)
                $('.messagethread-panel').html(resp);
            },
            error: function(error) {
                console.log("error detected with confirmation popup")
                console.log(error)
            }
        });
    }
    function previewMsgImg(input){
        if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.message-image-upload-preview').attr('src', e.target.result);
                    $('.message-image-upload-preview').toggleClass('inactive')
                }

                reader.readAsDataURL(input.files[0]);
            }
    }
    function showOfferPanel(show){
        $('.message-offer-input-panel').toggleClass("inactive",!show)
        showOtherActions()
    }
    function showOtherActions(){
        console.log('show other actions called')
        $('.messaging-options').toggleClass("inactive")
    }
    function removeMessageThread(){
        $('.messagethread-panel').toggleClass("inactive", true)
        $('.messagethread-panel').html("");
    }
    function sendMessage(){
        options = {
            url: "{% url 'tradeboard-home' %}",
            type: 'POST',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            success: function(resp) {
                $('.messagethread-panel').toggleClass("inactive", false)
                $('.messagethread-panel').html(resp);
            },
            error: function(resp) {
                console.log("error detected when loading MessageThread")
                console.log(error)
            }
        };

        $('#messaging-form').ajaxSubmit(options);
        console.log("confirmed new post function called")
    }
</script>
<style type="text/css">
    .message-thread-header{
        border-width: 2px 0 2px 0;
        border-style: solid;
        border-color: #eee;
        background-color: #fff;
        height: 50px;
        display:flex;
        align-items: center;
    }
    .close-message-thread-btn{
        margin-left: 10px;
        height: 20px;
        width: 20px;
        color: #273572;
    }
    .close-message-thread-btn:hover{
        cursor: pointer;
    }
    .message-thread-header-profile-pic{
        border-radius: 10px;
        border: 2px solid #273572;
        object-fit: cover;
        overflow: hidden;
        width: 35px;
        height: 35px;
        margin: 0 10px;
    }
    .message-thread-header-reciever-name{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
        font-weight: 700;
    }
    .message-thread-scroll{
        flex:1;
        overflow-y: auto;
        background-color: #f4f4f4;
        overflow-x: hidden;

        display:flex;
        flex-direction: column-reverse;
    }
    .pinned-message{
        position: fixed;
    }
    .chat-block{
        display: flex;
        max-width: 80%;
        align-items: flex-end;
        margin: 10px 0;
        flex: none;
    }
    .chat-block.from-me{
        flex-direction: row-reverse;
        align-self: flex-end;
    }
    .chat-block.from-other-user{
        align-self: flex-start;
    }
    .message-profile-pic{
        border-radius: 10px;
        border: 2px solid #273572;
        object-fit: cover;
        overflow: hidden;
        width: 25px;
        height: 25px;
        min-width: 25px;
        min-height: 25px;
        margin: 0 10px;
    }
    .message-instance{
        display: flex;
        flex-direction: column;
        width: 80%;
        overflow: hidden;
        border-width: 4px;
        border-style: solid;
    }
    .chat-block.from-me .message-instance{
        border-color: #304396;
        background-color: #304396;
        border-radius: 20px 20px 10px 20px;
    }
    .chat-block.from-other-user .message-instance{
        border-color: #E6EBFF;
        background-color: #E6EBFF;
        border-radius: 20px 20px 20px 10px;
    }
    

    .offer-panel{
        margin: 15px 10px 10px;
        padding: 0px 0px 5px;
        border-width: 0 0 2px 0;
        border-style: solid;
    }
    .chat-block.from-other-user .offer-panel{
        border-color: #273572;
    }
    .chat-block.from-me .offer-panel{
        border-color: #ffffff;
    }
    .message-offer{
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8em;
        font-weight: 500;
    }
    .chat-block.from-other-user .message-offer{
        color: #273572;
    }
    .chat-block.from-me .message-offer{
        color: #ffffff;
    }

    .offer-response-btns{
        display: flex;
        justify-content: flex-end;
    }
    .offer-response-btn{
        border-width: 2px;
        border-style: solid;
        border-radius: 5px;
        font-family: "Courier Prime", monospace;
        font-size: 0.8em;
        font-weight: 500;
        padding: 6px 10px;
        flex: 1;
        margin: 4px 0 4px 0;
    }
    #response-accept{
        color: #00e444;
        border-color: #00e444;
        background-color: rgba(0,0,0,0);
        margin-right: 5px;
    }
    #response-refuse{
        color: #ff0800;
        border-color: #ff0800;
        background-color: rgba(0,0,0,0);
        margin-left: 5px;
    }
    #retract-offer{
        color: #ff0800;
        border-color: #ff0800;
        background-color: rgba(0,0,0,0);
        width: 100%;
    }


    .message-image{
        border-radius: 5px;
        max-width:100%;
        height: auto;
    }
    .message-text{
        margin: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8em;
        font-weight: 500;
    }
    .chat-block.from-other-user .message-text{
        color: #273572;
    }
    .chat-block.from-me .message-text{
        color: #ffffff;
    }
    .message-time{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.6em;
        font-weight: 500;
        margin: 10px;
    }
    .chat-block.from-me .message-time{
        color: #dddddd;
    }
    .chat-block.from-other-user  .message-time{
        color: #374582;
    }


    .input-section{
        border-width: 2px 0 0px 0;
        border-style: solid;
        border-color: #eee;
        background-color: #fff;
    }
    .messaging-form{
        margin: 0;
    }
    .message-text-image-input-panel{
        padding: 6px;
        display: flex;
        align-items: stretch;
        margin:0;
        position: relative;
    }
    .message-offer-input-panel{
        padding: 6px;
        display: flex;
        position: relative;
    }
    .message-offer-input-panel.inactive{
        display: None;
    }
    .offer-prompt{
        font-family: "Courier Prime", monospace;
        font-weight: 300;
        font-size: 1rem;
        color: #7181e1;
        position: absolute;
        top: 14px;
        left: 20px;
    }
    .message-offer-input-field{
        width: 313px;
        height: 35px;
        padding-left: 240px;
        background-color: #ffffff;
        color: #4191e2;
        font-family: "Courier Prime", monospace;
        font-size: 15;
        border: 2px solid #5371f2;
        border-radius: 5px;
    }
    .message-text-input-field{
        padding: 5px 10px;
        margin: 0 5px 0 0;
        outline: none;
        flex: 1;
        border: none;
        border-radius: 10px;
        background-color: #ddd;
        resize: None;
    }
    .messaging-btns{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 3px;
        position: relative;
    }
    .messaging-options{
        position: absolute;
        right: 20px;
        bottom: 20px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
        border: 2px solid #5371f2;
        border-radius: 7px;
        align-items: center;
    }
    .messaging-options.inactive{
        display: None;
    }
    .messaging-option{
        width: max-content;
        padding: 5px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8em;
        font-weight: 700;
        color: #273572;
    }
    .image-upload-opt{
        border-width: 0 0 2px 0;
        border-color: #5371f2;
        border-style: solid;
    }
    .send-btn{
        padding: 0;
        background-color: rgba(0,0,0,0);
        margin:0 0 3px 0;
        border: none;
    }



    .message-image-upload-preview{
        height:50px;
        width: auto;
        border-radius: 10px;
        margin: 6px;
        margin-bottom: 0;
    }
    .message-image-upload-preview.inactive{
        display: None;
    }
</style>