{% load static %}
<div class="message-thread-header">
    <img class="close-message-thread-btn" src="{% static 'tradeboard/svg/back-btn.svg' %}" onclick="removeMessageThread()">
    {% if context.buyer == user %}
    <img class="message-thread-header-profile-pic" src="{{context.post.seller.profile.image.url}}">
    <p class="message-thread-header-reciever-name">{{context.post.seller.first_name}} {{context.post.seller.last_name}}</p>
    {% else %} 
    <img class="message-thread-header-profile-pic" src="{{context.buyer.profile.image.url}}">
    <p class="message-thread-header-reciever-name">{{context.buyer.first_name}} {{context.buyer.last_name}}</p>
    {% endif %}
</div>
<div class="message-thread-scroll">
    {% if context.pinned_message %}
        <div class="pinned-message">

        </div>
    {% endif %}
    <div style="display:flex; flex-direction:column;">
    {% for message in context.messages.all %}
        {% if message.sender == user %}
        <div class="chat-block from-me">
        {% elif not message.sender == user %} 
        <div class="chat-block from-other-user">
        {% endif %}
            <img class="message-profile-pic" src="{{message.sender.profile.image.url}}">
            <div class="message-instance">
                {% if message.reference%}
                    <p class="message-reference">{{message.reference.text}}</p>
                {% endif %}

                {% if message.offer%}
                    <div class="offer-panel">
                    </div>
                {% endif %}

                {% if message.image%}
                    <img class="message-image" src="{{message.image.url}}">
                {% endif %}

                {% if message.text%}
                    <p class="message-text">{{message.text}}</p>
                {% endif %}

                <p class="message-time">{{message.time_sent}}</p>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<div class="input-section">
    <div class="message-image-upload-preview inactive"></div>
    <form class= "messaging-form" id= "messaging-form" method="POST" name="messaging-form" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        {{ message_form.image }}
        {{ message_form.text }} {% comment '' %} class = "message-text-input-field" %}{% endcomment %}
        <div class="messaging-btns">
            <img class="messaging-options-btn" id="messageThread-{{messageThread.id}}" src="{% static 'tradeboard/svg/options.svg' %}" onclick="showOtherActions()" height=15px width=15px>
            <div class="messaging-options inactive">
                <label class = "messaging-option image-upload-opt" for="{{ message_form.image.id_for_label }}" onclick="showOtherActions()">Upload an image</label>
                <label class = "messaging-option make-an-offer-opt">Make an Offer</label>
            </div>
            <button class= "send-btn" type = "button" name="send" onclick="sendMessage()">
                <img src="{% static 'tradeboard/svg/send.svg' %}" height= 15px width=15px>
            </button>
        </div>
        <input class="invisible" type="text" name="action" value="send-message">
        <input class="invisible" type="text" name="messageThread" value="{{context.pk}}"> 
    </form>
</div>
<script type="text/javascript">
    function previewMsgImg(input){
        if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.message-image-upload-preview').attr('style', "background-image:url('"+e.target.result+"'); background-size: cover; background-position: center;");
                    $('.message-image-upload-preview').toggleClass('inactive')
                }

                reader.readAsDataURL(input.files[0]);
            }
    }
    function showOtherActions(){
        console.log('show other actions called')
        $('.messaging-options').toggleClass("inactive")
    }
    function removeMessageThread(){
        $('.messagethread-panel').toggleClass("inactive", true)
        $('.messagethread-panel').html("");
    }
    function sendMessage(){
        options = {
            url: "{% url 'tradeboard-home' %}",
            type: 'POST',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            success: function(resp) {
                $('.messagethread-panel').toggleClass("inactive", false)
                $('.messagethread-panel').html(resp);
            },
            error: function(resp) {
                console.log("error detected when loading MessageThread")
                console.log(error)
            }
        };

        $('#messaging-form').ajaxSubmit(options);
        console.log("confirmed new post function called")
    }
</script>
<style type="text/css">
    .message-thread-header{
        border-width: 2px 0 2px 0;
        border-style: solid;
        border-color: #eee;
        background-color: #fff;
        height: 50px;
        display:flex;
        align-items: center;
    }
    .close-message-thread-btn{
        margin-left: 10px;
        height: 20px;
        width: 20px;
        color: #273572;
    }
    .close-message-thread-btn:hover{
        cursor: pointer;
    }
    .message-thread-header-profile-pic{
        border-radius: 10px;
        border: 2px solid #273572;
        object-fit: cover;
        overflow: hidden;
        width: 35px;
        height: 35px;
        margin: 0 10px;
    }
    .message-thread-header-reciever-name{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
        font-weight: 700;
    }
    .message-thread-scroll{
        flex:1;
        overflow-y: auto;
        background-color: #f4f4f4;
        overflow-x: hidden;

        display:flex;
        flex-direction: column-reverse;
    }
    .pinned-message{
        position: fixed;
    }
    .chat-block{
        display: flex;
        max-width: 80%;
        align-items: flex-end;
        margin: 10px 0;
    }
    .chat-block.from-me{
        flex-direction: row-reverse;
        align-self: flex-end;
    }
    .chat-block.from-other-user{
        align-self: flex-start;
    }
    .message-profile-pic{
        border-radius: 10px;
        border: 2px solid #273572;
        object-fit: cover;
        overflow: hidden;
        width: 25px;
        height: 25px;
        margin: 0 10px;
    }
    .message-instance{
        display: flex;
        flex-direction: column;
        width: 80%;
        overflow: hidden;
    }
    .chat-block.from-me .message-instance{
        background-color: #304396;
        border-radius: 20px 20px 10px 20px;
    }
    .chat-block.from-other-user .message-instance{
        background-color: #E6EBFF;
        border-radius: 20px 20px 20px 10px;
    }

    .message-image{
        border-radius: 5px;
        max-width:100%;
        height: auto;
    }
    .message-text{
        margin: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8em;
        font-weight: 500;
    }
    .chat-block.from-other-user .message-text{
        color: #273572;
    }
    .chat-block.from-me .message-text{
        color: #ffffff;
    }
    .message-time{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.6em;
        font-weight: 500;
        margin: 10px;
    }
    .chat-block.from-me .message-time{
        color: #dddddd;
    }
    .chat-block.from-other-user  .message-time{
        color: #374582;
    }


    .input-section{
        border-width: 2px 0 0px 0;
        border-style: solid;
        border-color: #eee;
        background-color: #fff;
        max-height: 100px;
    }
    .messaging-form{
        padding: 6px;
        display: flex;
        align-items: stretch;
        margin:0;
        position: relative;
    }
    .message-text-input-field{
        padding: 5px 10px;
        margin: 0 5px 0 0;
        outline: none;
        flex: 1;
        border: none;
        border-radius: 10px;
        background-color: #ddd;
        resize: None;
    }
    .messaging-btns{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 3px;
        position: relative;
    }
    .messaging-options{
        position: absolute;
        right: 20px;
        bottom: 20px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
        border: 2px solid #5371f2;
        border-radius: 7px;
        align-items: center;
    }
    .messaging-options.inactive{
        display: None;
    }
    .messaging-option{
        width: max-content;
        padding: 5px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8em;
        font-weight: 700;
        color: #273572;
    }
    .image-upload-opt{
        border-width: 0 0 2px 0;
        border-color: #5371f2;
        border-style: solid;
    }
    .send-btn{
        padding: 0;
        background-color: rgba(0,0,0,0);
        margin:0 0 3px 0;
        border: none;
    }



    .message-image-upload-preview{
        height:60px;
        width: 60px;
        position: absolute;
        bottom: 37px;
        left: 20px;
        border-radius: 10px;
    }
    .message-image-upload-preview.inactive{
        display: None;
    }
</style>