{% extends "tradeboard/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'users/user.css' %}">
<div class="profilecentered">
<div class="profileupdate-panel">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <div class="profileinfo-banner">Profile Info</div>
        <div class="profileupdate">
        {{ u_form|crispy }}
        {{ p_form|crispy }}
        </div>
    </div>

    <div class="update-btn">
    <button type="submit">Update</button>
    </div>
</div>
</form>
</div>
</div>
{% endblock content %}