::-webkit-scrollbar {
  width: 7px;
  max-width: 7px;
  max-height: 7px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-track {
  background-color: #dfdfdf;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #5371f2;
  border-radius: 10px;
  border: 1px solid white;
}
::-webkit-scrollbar-thumb:hover {
  background: #009;
}
button {
  cursor: pointer;
}
p {
  margin: 0;
  padding: 0;
}
body {
  background-image: radial-gradient(#0eb3fd 8%, transparent 10%);
  background-color: #f4f4f4;
  background-position: 0 0, 50px 50px;
  background-size: 20px 20px;
  background-attachment: fixed;
  margin: 0px;
  height: 100vh;
}
.panels {
  margin: 0px;
  /* margin-top: 5vh; */
  padding-top: 5vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-height: 95vh;
}
.left-panel {
}
.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-pic {
  width: 120px;
  height: 120px;
  object-fit: cover;
  overflow: hidden;
  border: 3px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  z-index: 2;
  margin-bottom: -70px;
}
.profile-info {
  height: 256px;
  width: 296px;
  border-radius: 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  background-color: #5371f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fl-users-name {
  margin-top: 90px;
  font-family: "DIN Condensed";
  font-size: 28;
  color: white;
}
.mid-panel {
  display: flex;
  flex-direction: column;
  max-height: 95vh;
  margin: 0;
  margin-left: 50px;
  margin-right: 50px;
  padding: 0;
}
.quick-search {
  background-color: white;
  border-radius: 5px;
  border: 3px solid #3c86f5;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  width: 650px;
  margin-left: 10px;
  margin-right: 10px;
}
.search-in {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 23;
  color: #8d90b6;
  border: none;
  padding: 10px;
  background-color: transparent;
}
.search-in::placeholder {
  color: #9da0c6;
}
.tab-bar {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  width: 650px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: -40px;
  z-index: 2;
}
.tab-btn {
  height: 35px;
  width: 117px;
  background-color: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.35);
  border: none;
  border-radius: 3px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 4px;
  margin-right: 4px;
  font-family: "DIN Condensed";
  font-size: 22;
  font-weight: 700;
  color: #818181;
}
.active-tab {
  color: #273572;
  height: 45px;
  width: 117px;
  font-size: 26;
  margin-left: 7px;
  margin-right: 10px;
}
.mid-panel-scroll {
  /* background-color: green; */
  z-index: 1;
  overflow-x: hidden;
  overflow-x: auto;
  align-self: stretch;
  min-width: 640px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-height: 100vh; */
  /* height: 880px; */
}
.mid-panel-scroll::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}
.mid-panel-scroll::-webkit-scrollbar-track {
  background-color: #dfdfdf;
  border-radius: 10px;
}
.mid-panel-scroll::-webkit-scrollbar-thumb {
  background-color: #5371f2;
  border-radius: 10px;
  border: 1px solid white;
}
.mid-panel-scroll::-webkit-scrollbar-thumb:hover {
  background: #009;
}
.post {
  /* width: 650px; */
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  /* background-color: aliceblue; */
}
.post-minimized {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mini-left-tile {
  background-color: #ffffff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  width: 560px;
  height: 100px;
  margin-right: 10px;
}
.top-row {
  display: flex;
  justify-content: space-between;
}
.book-title {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 0px;
  font-family: "DIN condensed";
  font-size: 30;
}
a:link {
  text-decoration: none;
  color: #273572;
}
a:visited {
  color: #273572;
}
.date {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 13;
  margin-top: 15px;
  margin-right: 15px;
  color: #d1d1d1;
}
.divider {
  border: 0;
  height: 2px;
  border-top: 3px solid #5371f2;
  margin: 0px;
  margin-right: 13px;
  margin-left: 13px;
}
.preview {
  display: flex;
  margin: 0px;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}
.pre {
  font-family: "Courier New", Courier, monospace;
  font-size: 14;
  font-weight: 600;
  color: #818181;
}
.mini-right-tile {
  background: linear-gradient(0deg, #2a3979 0%, #5371f2 100%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  width: 53px;
  height: 115px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.divider-1 {
  border: 0;
  height: 1px;
  border-top: 3px solid #fff;
  margin: 0px;
  width: 20px;
}
.bookmark {
  margin-top: 10px;
}
.expand {
  transform: scaleY(-1);
  margin-bottom: 10px;
}
.post-maximized {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
  align-items: center;
  /* width: 650px; */
  opacity: 0;
  max-height: 0;
}
.post-maximized.show {
  display: flex;
  opacity: 1;
  max-height: none;
  margin-bottom: 30px;
}
.left-tile {
  margin-left: 30px;
  padding-bottom: -30px;
  width: 162px;
  min-width: 162px;
  height: 191px;
  min-height: 191px;
  background: linear-gradient(180deg, #5371f2 0%, #2a3979 100%);
  border-radius: 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
}
.details {
  margin-bottom: -3px;
  margin-right: 10px;
}
.d-title {
  font-family: "Myriad Arabic";
  font-size: 21;
  font-weight: bold;
  margin-bottom: -10px;
}
.d-info {
  font-family: "Sukhumvit Set";
  font-size: 12;
  font-weight: 600;
  color: white;
  margin: 0px;
}
.seller-info {
  display: flex;
  justify-content: center;
}
.contact-pic {
  width: 33px;
  height: 33px;
  object-fit: cover;
  overflow: hidden;
  border: 2px solid #ffffff;
  border-radius: 3px;
}
.identifier {
  display: flex;
  flex-direction: column;
}
.fl-name {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  margin-bottom: -20px;
  margin-left: 5px;
  font-family: "Myriad Arabic";
  font-size: 18;
  font-weight: bold;
}
.divider-2 {
  border: 0;
  height: 1px;
  border-top: 1px solid #95a2d9;
  margin: 0px;
  margin-right: 0px;
  margin-left: 5px;
}
.username {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  margin-left: 5px;
  font-family: "Myriad Arabic";
  font-size: 15;
  font-weight: bold;
  color: #95a2d9;
}
.contact-btn {
  cursor: pointer;
  padding: 6px;
  margin-top: 3px;
  width: 99;
  height: 49;
  border-radius: 3px;
  border: 0;
  background: linear-gradient(20deg, #28bffa 0%, #5372f2 100%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  font-family: "Courier New", Courier, monospace;
  font-size: 15;
  font-weight: 700;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
}
.right-tile {
  margin-left: -60px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  width: 440px;
  height: 142px;
}
.description {
  margin-left: 75;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15;
  width: 250px;
  height: 122px;
  color: #818181;
  background-color: #ffffff;
}
.book-pic {
  width: 99px;
  height: 132px;
  object-fit: cover;
  border-radius: 3px;
  margin-right: 4px;
  /* border: 5px solid black; */
}
.right-panel {
  background-color: #ffffff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  width: 400px;
  height: 90vh;
}
.search-filters {
  padding: 15px;
  width: 370px;
}
.search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.filter-label {
  background-color: #5371f2;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  vertical-align: text-bottom;
  border: 3px solid #ffffff;
  border-radius: 3px 3px 3px 0px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  z-index: 2;
  margin-bottom: -12px;
  padding: 3px 20px 3px 20px;
}
.arrange-as-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.filter-text-input {
  width: 100%;
  align-self: stretch;
  background-color: #ffffff;
  color: #000020;
  font-family: "Courier New", Courier, monospace;
  font-size: 15;
  border: 3px solid #5371f2;
  padding: 15px 0px 5px 10px;
  border-radius: 0px 5px 5px 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  margin-bottom: 25px;
}
.filter-int-input {
  width: 100%;
  align-self: stretch;
  background-color: #ffffff;
  color: #000020;
  font-family: "Courier New", Courier, monospace;
  font-size: 15;
  border: 3px solid #5371f2;
  padding: 15px 10px 5px 10px;
  border-radius: 0px 5px 5px 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  margin-bottom: 25px;
}
.author-field {
  margin-right: 10px;
  flex: 1;
}
.ISBN-field {
  margin-left: 10px;
  flex: 1;
}
.edition-field {
  margin-right: 10px;
  flex: 1;
}
.price-field {
  margin-left: 10px;
  flex: 1;
}
.search-btn {
  cursor: pointer;
  padding: 6px;
  margin-top: 3px;
  border-radius: 3px;
  border: 0;
  background: linear-gradient(90deg, #1fa2fa 0%, #5372f2 100%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  font-family: "Courier New", Courier, monospace;
  font-size: 20;
  font-weight: 700;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
}
.clear-btn {
  cursor: pointer;
  padding: 6px;
  margin-top: 3px;
  border-radius: 3px;
  border: 0;
  background: linear-gradient(90deg, #1fa2fa 0%, #5372f2 100%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  font-family: "Courier New", Courier, monospace;
  font-size: 20;
  font-weight: 700;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
}
/* label {
  background-color: #5371f2;
  border: 2px solid #0fffff;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  font-size: 15;
  font-weight: 500;
  color: white;
} */
