::-webkit-scrollbar {
  width: 7px;
  max-width: 7px;
  max-height: 7px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-track {
  background-color: #dfdfdf;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #5371f2;
  border-radius: 10px;
  border: 1px solid white;
}
::-webkit-scrollbar-thumb:hover {
  background: #009;
}
em {
  font-family: "Futura";
  font-size: 0.75rem;
  font-weight: 500;
  font-style: normal;
  color: #273572;
}
button {
  cursor: pointer;
}
button:focus {
  outline: none;
}
select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 50%;
  background-repeat: no-repeat;
  background-image: url("down-arrow.svg");
}
select:focus {
  outline: none;
}
input:focus {
  outline: none;
}
p {
  margin: 0;
  padding: 0;
}
body {
  background-image: radial-gradient(#0eb3fd 5%, transparent 11%);
  background-color: #f4f4f4;
  background-position: 0 0, 50px 50px;
  background-size: 20px 20px;
  background-attachment: fixed;
  margin: 0px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-self: stretch;
  justify-content: center;
}
.panels {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}
.panels.blurred {
  animation: pullBack cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  transform: scale(0.97, 0.97);
}
@keyframes pullBack {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.97, 0.97);
  }
}
.left-panel {
}
.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-pic {
  width: 109px;
  height: 109px;
  object-fit: cover;
  overflow: hidden;
  border: 3px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  z-index: 2;
  margin-bottom: -60px;
}
.profile-info {
  width: 222px;
  height: 192px;
  border-radius: 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  background-color: #5371f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fl-users-name {
  margin-top: 70px;
  font-family: "DIN Condensed";
  font-size: 1.3rem;
  color: white;
}
.mid-panel {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  margin-left: 50px;
  margin-right: 50px;
  padding: 0;
}
.tab-bar {
  display: flex;
  flex: 0;
  min-height: 50px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  margin-top: 0px;
  margin-left: 10px;
  width: 520px;
  margin-right: 0px;
  z-index: 2;
}
.tab-btn {
  background-color: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.35);
  border: none;
  border-radius: 3px;
  margin-left: 12px;
  margin-right: 4px;
  font-family: "DIN Condensed";
  font-size: 1.1em;
  font-weight: 700;
  color: #818181;
  padding: 4px 15px 2px 15px;
  width: 112px;
  height: 32px;
}
.active-tab {
  color: #273572;
  transform: scale(1.1, 1.1);
}
.mid-panel-scroll {
  scroll-snap-type: y mandatory;
  z-index: 1;
  overflow-x: hidden;
  align-self: stretch;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.mid-panel-scroll::-webkit-scrollbar {
  margin-left: -70px;
  width: 7px;
  background-color: #f5f5f5;
}
.mid-panel-scroll::-webkit-scrollbar-track {
  margin-left: -70px;
  background-color: #dfdfdf;
  border-radius: 10px;
}
.mid-panel-scroll::-webkit-scrollbar-thumb {
  margin-left: -70px;
  background-color: #5371f2;
  border-radius: 10px;
  border: 1px solid white;
}
.mid-panel-scroll::-webkit-scrollbar-thumb:hover {
  margin-left: -70px;
  background: #009;
}
.post {
  padding: 8px 0 !important;
  scroll-snap-align: start;
  margin: 0 10px;
}
.post-minimized {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mini-left-tile {
  background-color: #ffffff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  width: 437px;
  height: 83px;
  margin-right: 10px;
}
.top-row {
  display: flex;
  justify-content: space-between;
}
.book-title {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 0px;
  font-family: "DIN condensed";
  color: #273572;
  font-size: 1.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.book-title:hover {
  cursor: pointer;
}
a:link {
  text-decoration: none;
  color: #273572;
}
a:visited {
  color: #273572;
}
.date {
  font-family: "Futura";
  font-size: 0.4em;
  margin-top: 15px;
  margin-right: 15px;
  color: #d1d1d1;
}
.divider {
  border: 0;
  height: 2px;
  border-top: 3px solid #5371f2;
  margin: 0px;
  margin-right: 13px;
  margin-left: 13px;
}
.preview {
  display: flex;
  margin: 0px;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}
.pre {
  font-family: "Courier New", Courier, monospace;
  font-size: 0.7em;
  font-weight: 600;
  color: #818181;
}
.mini-right-tile {
  background: linear-gradient(0deg, #2a3979 0%, #5371f2 100%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  width: 40px;
  height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.divider-1 {
  border: 0;
  height: 0px;
  border-top: 1.5px solid #fff;
  margin: 0px;
  width: 17px;
}
.bookmark {
  fill: none;
  stroke: #fff;
  stroke-width: 3px;
  height: 17px;
  width: 17px;
  margin-top: 10px;
}
.bookmark.bookmarked {
  fill: #fff;
}
.bookmark:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
  /* transform: translateY(-3px); */
}
.expand {
  fill: #fff;
  stroke: #fff;
  height: 17px;
  width: 17px;
  transform: scaleY(-1);
  margin-bottom: 10px;
}
.expand:hover {
  transform: scale(1.1, -1.1);
  cursor: pointer;
  /* transform: translateY(-1px); */
}
.expand.expanded {
  transform: scaleY(1);
}
.expand.expanded:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
  /* transform: translateY(-1px); */
}
.post-maximized {
  display: none;
  justify-content: flex-start;
  margin-bottom: 10px;
  align-items: center;
  /* width: 650px; */
  opacity: 0;
  max-height: 0;
}
.post-maximized.show {
  display: flex;
  opacity: 1;
  max-height: none;
  /* margin-bottom: 30px; */
}
.left-tile {
  margin-left: 30px;
  padding-bottom: -30px;
  width: 122px;
  min-width: 122px;
  height: 150px;
  min-height: 150px;
  background: linear-gradient(180deg, #5371f2 0%, #2a3979 100%);
  border-radius: 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
}
.details {
  margin-bottom: -3px;
  margin-right: 10px;
}
.dets {
  min-width: 102px;
  justify-content: space-between;
}
.d-title {
  font-family: "Futura";
  font-size: 0.6rem;
  font-weight: bold;
  margin-bottom: -0.1em;
}
.d-info {
  font-family: "Futura";
  font-size: 0.4rem;
  font-weight: 300;
  color: white;
  margin: 0.2em;
  max-width: 85px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.seller-info {
  display: flex;
  justify-content: center;
}
.contact-pic {
  width: 25px;
  height: 25px;
  object-fit: cover;
  overflow: hidden;
  border: 1px solid #ffffff;
  border-radius: 3px;
}
.identifier {
  display: flex;
  flex-direction: column;
}
.fl-name {
  max-width: 65px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  margin-bottom: -15px;
  margin-left: 5px;
  font-family: "Futura";
  color: white;
  font-size: 0.5rem;
  font-weight: bold;
}
.divider-2 {
  border: 0;
  height: 1px;
  border-top: 1px solid #95a2d9;
  margin: 0px;
  margin-right: 0px;
  margin-left: 5px;
}
.username {
  max-width: 65px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  margin-left: 5px;
  font-family: "Futura";
  font-size: 0.4rem;
  font-weight: 300;
  color: #95a2d9;
}
.contact-btn {
  /* cursor: pointer; */
  padding: 6px;
  margin-top: 3px;
  width: 80;
  height: 30;
  border-radius: 3px;
  border: 0;
  background: linear-gradient(90deg, #1fa2fa 0%, #5372f2 100%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  font-family: "Courier New", Courier, monospace;
  font-size: 0.7rem;
  font-weight: 700;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
}
.right-tile {
  margin-left: -60px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  width: 350px;
  height: 120px;
}
.description {
  margin-left: 70px;
  font-family: "Futura";
  word-wrap: break-word;
  font-size: 0.6rem;
  width: 195px;
  height: 110px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #818181;
}
.book-pic {
  width: 75px;
  height: 113px;
  object-fit: cover;
  border-radius: 3px;
  margin-right: 4px;
}
.right-panel {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.nav {
  height: 50px;
  background-color: #dfe1eb;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  align-self: stretch;
  margin-bottom: 20px;
}
.search-filters {
  /* background-color: #ffffff; */
  /* box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35); */
  /* border-radius: 5px; */
  width: 295px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex: 1;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  margin-bottom: 20px;
}
.hint {
  align-self: flex-end;
  display: flex;
}
.hint-text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #d1d1d1;
  text-align: end;
  font-size: 10;
  width: 150px;
}
.vertical-accent-bar {
  margin-left: 10px;
  align-self: stretch;
  width: 3px;
  background-color: #5371f2;
}
.search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.filter-label {
  background-color: #5371f2;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: 0.7rem;
  vertical-align: text-bottom;
  border: 2px solid #ffffff;
  border-radius: 3px 3px 3px 0px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  z-index: 2;
  margin-bottom: -12px;
  padding: 3px 15px 3px 15px;
}
.arrange-as-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-justify-start {
  justify-content: flex-start;
}
.filter-text-input {
  width: 100%;
  align-self: stretch;
  background-color: #ffffff;
  color: #4191e2;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.9rem;
  border: 2px solid #5371f2;
  padding: 12px 0px 4px 10px;
  border-radius: 0px 5px 5px 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  /* margin-bottom: 30px; */
}
.filter-text-input::placeholder {
  color: #a8deff;
}
.filter-int-input {
  width: 100%;
  align-self: stretch;
  background-color: #ffffff;
  color: #4191e2;
  font-family: "Courier New", Courier, monospace;
  font-size: 15;
  border: 2px solid #5371f2;
  padding: 12px 10px 4px 10px;
  border-radius: 0px 5px 5px 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  /* margin-bottom: 25px; */
}
.filter-int-input::placeholder {
  color: #a8deff;
}
.cont-date-select {
  display: flex;
  align-self: stretch;
  border-radius: 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  flex-direction: row;
}
.filter-date-select {
  flex: 1;
  background-color: #ffffff;
  color: #4191e2;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.8rem;
  border: 2px solid #5371f2;
  border-radius: 0px 5px 5px 0px;
}
.filter-date-select::placeholder {
  color: #a8deff;
}
#id_posted_since_month {
  flex: 5;
  border-radius: 5px 0px 0px 5px;
  padding: 12px 15px 4px 3px !important;
}
#id_posted_since_day {
  flex: 4;
  border-radius: 0;
  border-width: 2px 0px;
  padding: 12px 12px 4px 3px !important;
}
#id_posted_since_year {
  flex: 8;
  border-radius: 0px 5px 5px 0px;
  padding: 12px 15px 4px 3px !important;
}
.filter-type-select {
  width: 100%;
  background-color: #ffffff;
  color: #4191e2;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.8rem;
  border: 2px solid #5371f2;
  padding: 12px 15px 4px 10px !important;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  /* margin-bottom: 25px; */
  width: 100%;
}
.filter-type-select::placeholder {
  color: #a8deff;
}
.author-field {
  margin-right: 10px;
  flex: 1;
}
.ISBN-field {
  margin-left: 10px;
  flex: 1;
}
.edition-field {
  margin-right: 10px;
  flex: 1;
}
.price-field {
  margin-left: 10px;
  flex: 1;
}
.posted-since-field {
  margin-right: 10px;
  /* margin-bottom: 25px; */
  flex: 1;
}
.book-type-field {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.error {
  height: 30px;
}
.errorlist {
  margin: 0;
  margin-top: 5px;
  padding: 0px 8px;
  list-style-type: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ff8989;
  font-size: 0.2rem;
}
.search-btn {
  cursor: pointer;
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  border: 0;
  background: linear-gradient(90deg, #1fa2fa 0%, #5372f2 100%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  font-family: "Courier New", Courier, monospace;
  font-size: 0.8rem;
  font-weight: 600;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
}
.clear-btn {
  cursor: pointer;
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  margin-right: 10px;
  border-radius: 3px;
  border: 0;
  background: linear-gradient(90deg, #1fa2fa 0%, #5372f2 100%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  font-family: "Courier New", Courier, monospace;
  font-size: 0.8rem;
  font-weight: 600;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.no-results-available {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  align-items: center;
}
.sorry {
  width: 200px;
  margin-right: 20px;
  font-family: "DIN Condensed";
  font-size: 1.6rem;
  color: #009;
}
.seller-actions {
  display: flex;
  flex-direction: column;
}
.edit-btn {
  background: linear-gradient(45deg, #1fa2fa 0%, #5372f2 100%);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.35);
  border: none;
  border-radius: 7px;
  padding: 5px 5px;
  margin: 0 0 0px 5px;
  border: 2px solid white;
}
.delete-btn {
  background: linear-gradient(45deg, #ff1024 0%, #5372f2 100%);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.35);
  border: none;
  border-radius: 7px;
  padding: 5px 5px;
  margin: 7px 0 7px 5px;
  border: 2px solid white;
}
.sold-btn {
  background: linear-gradient(45deg, #00e444 0%, #5372f2 100%);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.35);
  border: none;
  border-radius: 7px;
  padding: 5px 5px;
  margin: 0px 0 0 5px;
  border: 2px solid white;
}
.svg {
  fill: white;
}
/* ****************************************************************************************************************************** */
.popup {
  visibility: hidden;
  width: 0%;
}
.popup.visible {
  z-index: 3;
  visibility: visible;
  position: fixed;
  width: 100%;
  animation: popUp cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
}
@keyframes popUp {
  0% {
    transform: scale(0.9, 0.9);
    opacity: 0.3;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
