.arrange-as-column {
  display: flex;
  flex-direction: column;
}
.login-error {
  height: 30px;
  width: 250px;
}
.btn-link-col {
  color: white;
}
.btn-link-col:link {
  text-decoration: none;
  color: white;
}
.btn-link-col:visited {
  color: white;
}
.flex-justify-center {
  justify-content: center;
}
h2{
  text-align: center;
}
.align-center {
  align-items: center;
}
.vertical-accent-bar {
  margin-left: 0;
  width: 2.3px;
  border-radius: 2px;
  background-color: #5075f3;
}
.login-panel {
  background-color: #f2f8ff;
  border-radius: 20px;
  padding: 22px;
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.35);
}
input[type="password"] {
  width: 100%;
  align-self: stretch;
  background-color: #ffffff;
  color: #4191e2;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.9rem;
  border: 2px solid #5371f2;
  padding: 12px 0px 4px 10px;
  border-radius: 0px 5px 5px 5px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.18);
}
input[type="password"]::placeholder {
  color: #a8deff;
}
input[type="text"] {
  width: 100%;
  align-self: stretch;
  background-color: #ffffff;
  color: #4191e2;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.9rem;
  border: 2px solid #5371f2;
  padding: 12px 0px 4px 10px;
  border-radius: 0px 5px 5px 5px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.18);
}
input[type="text"]::placeholder {
  color: #a8deff;
}

input[type="password"]:focus {
  color: #4191e2;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.4rem;
}
a.login-btn{
  margin-left: 15px;
  padding: 6px 0px;
  margin-top: 3px;
  width: 160px;
  max-height: 34px;
  border-radius: 3px;
  border: 0;
  background: linear-gradient(90deg, #1fa2fa 0%, #5372f2 100%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2em;
  font-weight: 700;
  color: #ffffff !important;
  text-align: center;
  line-height: 1.2em;
  margin-top: 5px;  
}
.login-btn {
  margin-left: 15px;
  padding: 6px 0px;
  margin-top: 3px;
  width: 95px;
  max-height: 34px;
  border-radius: 3px;
  border: 0;
  background: linear-gradient(90deg, #1fa2fa 0%, #5372f2 100%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2em;
  font-weight: 700;
  color: #ffffff !important;
  text-align: center;
  line-height: 1.2em;
}
.forgot {
  font-family: "Futura";
  color: #97b3e0;
  text-align: end;
  font-size: 0.7em;
  font-weight: 400;
  width: 150px;
  text-align: left;
  margin-left: 8px;
}
.welcome-banner {
  background-color: #5371f2;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: 1.4em;
  width: 140px;
  vertical-align: text-bottom;
  border: 2px solid #ffffff;
  border-radius: 10px 10px 10px 0px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  margin-top: 10px;
  padding: 7px 0px 7px 0px;
  text-align: center;
}
.logout-banner {
  background-color: #5371f2;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: 1.4em;
  width: 340px;
  vertical-align: text-bottom;
  border: 2px solid #ffffff;
  border-radius: 10px 10px 10px 0px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  margin-top: 10px;
  padding: 7px 0px 7px 0px;
  text-align: center;
}

.centered {
  position: fixed;
  top: 30%;
  left: 45%;
  /* bring your own prefixes */
  transform: translate(-30%, -45%);
}

.registerCentered{
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.profileCentered {
  position: fixed;

  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%);
}

.passwordCentered{
  position: fixed;

  left: 45%;
  top: 30%;
  /* bring your own prefixes */
  transform: translate(-30%,-45%);
}