{% extends 'tradeboard/base.html' %}

{% block content %}
    <div class="content-section">
        <h2 style="color: #2e6c80;">The seller's email is: {{book.seller.email}}</h2>
                <p>Here is a default message for you to sent to the seller:</p>
        <p>Hi {{book.seller.first_name}}! My name is {{user.first_name}}. I'm interested in buying your book {{book.title}}. Please let me know if this book is still available.</p>
        <p>Thank you!</p>
        <p>&nbsp;</p>
        <p><strong>&nbsp;</strong></p>
    </div>
{% endblock content %}