{% extends 'tradeboard/base.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'tradeboard/tb_main.css' %}">
    
    

    <div class = "panels">
        <div class = "left-panel">
            <div class = "profile-section">
                {% comment %} <h1>Macalester Textbook Swap</h1> {% endcomment %}
                <img class= "profile-pic" src = "{{user.profile.image.url}}"/>
                {% comment %} <h1 style = "color:red">Welcome to the homepage</h1> {% endcomment %}
                <div class = "profile-info">
                    <h2 class = "fl-users-name">{{user.first_name}} {{user.last_name}}</h2>
                </div>
                <hr/>
                {% comment %} <a href="{% url 'book_new' %}"> Sell Book</a> {% endcomment %}
            </div>
        </div>
        <div class = "mid-panel">
            <div class = "quick-search">
                <input class = "search-in" type="search" name="quick search" placeholder = "Quick Search">
            </div>
            <div class = "tab-bar">
                <button class = "tab-btn active-tab" type="button" name="tradeboard">Trade Board</button>
                <button class = "tab-btn" type="button" name="wishlist">My Bookmarks</button>
                <button class = "tab-btn" type="button" name="sell-list">My Selling List</button>
            </div>
            <div class = "mid-panel-scroll">
                {% for post in posts %}
                    <div class = "post" id= "post-{{post.pk}}">
                        <div class = "post-minimized" id="post-min-{{post.pk}}">
                            <div class = "mini-left-tile">
                                <div class = "top-row">
                                    <h2 class = "book-title"><a class = "book-title-link" href="{% url 'detail_book' post.pk %}">{{post.title}}</a></h2>
                                    <small class = "date"> {{post.date_posted|date:"m/d/Y"}}</small>
                                </div>
                                <hr class = "divider"/>
                                <div class = "preview">
                                    <p class = "pre">Price: {{post.price}}$ | Author: {{post.author}} | Edition: {{post.edition}}</p>
                                </div>
                            </div>
                            <div class = "mini-right-tile">
                                <img class = "bookmark" src = "{% static 'bookmark_inactive.svg' %}"/>
                                <hr class = "divider-1"/>
                                <img class = "expand" id= "exp-{{post.pk}}"src = "{% static 'expand.svg' %}"/>
                            </div>
                        </div>

                        <div class = "post-maximized">
                            <div class = "left-tile">
                                <div class = "info">
                                    <div class = "arrange-as-row dets">
                                        <div class = "details">
                                            <p class = "d-title">Price</p>
                                            <p class = "d-info"> {{post.price}} </p>
                                        </div>
                                        <div class = "details">
                                            <p class = "d-title">Edition</p>
                                            <p class = "d-info"> {{post.edition}} </p>
                                        </div>
                                    </div>
                                    <div class = "details">
                                        <p class = "d-title">Book type</p>
                                        <p class = "d-info"> {{post.post_type}} </p>
                                    </div>
                                    <div class = "details">
                                        <p class = "d-title">ISBN</p>
                                        <p class = "d-info"> {{post.ISBN}} </p>
                                    </div>
                                    <div class = "details">
                                        <p class = "d-title">Author</p>
                                        <p class = "d-info"> {{post.author}} </p>
                                    </div>
                                </div>
                                <div class = "seller-info">
                                    <img class = "contact-pic" src = "{{ post.seller.profile.image.url }}"/> <br>
                                    <div class = "identifier">
                                        <p class = "fl-name">{{post.seller.first_name}} {{post.seller.last_name}}</p><br>
                                        <hr class = "divider-2"/>
                                        <p class = "username">@{{post.seller.username}}</p>
                                    </div>
                                </div>
                                <button class = "contact-btn">
                                    <img height=12px width=12px src = "{% static 'message.svg' %}">
                                    Contact
                                </button>
                            </div>
                            <div class = "right-tile">
                                <p class = "description">{{post.description}}</p>
                                <img class = "book-pic" src = "{{ post.image.url }}">
                            </div>
                        </div>
                    </div>            
                {% endfor %}
            </div>
        </div>
        <div class = "right-panel">
            <div class = "nav">
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                    <a href="{% url 'book_new' %}"> Sell Book</a> 
                {% else %}
                    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                    <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                {% endif %}
            </div>

            <form class= "search-filters" method="POST">
                <div class="hint">
                    <p class = "hint-text">You can narrow down your search result by applying the following filters</p>
                    <div class="vertical-accent-bar"></div>
                </div>
                {% csrf_token %}
                {{ search_form.non_field_errors }}
                <div class = "search title-field">
                    {{ search_form.title.errors }}
                        <label class = "filter-label f-title" for="{{ form.title.id_for_label }}">Title</label>
                    {{ search_form.title }}
                </div>
                <div class = "arrange-as-row">
                    <div class="search author-field">
                        {{ search_form.author.errors }}
                            <label class = "filter-label"  for="{{ form.author.id_for_label }}">Author</label>
                        {{ search_form.author}}
                    </div>
                    <div class="search ISBN-field">
                        {{ search_form.ISBN.errors }}
                            <label class = "filter-label" for="{{ form.ISBN.id_for_label }}">ISBN</label>
                        {{ search_form.ISBN }}
                    </div>
                </div>
                <div class = "arrange-as-row">
                    <div class="search edition-field">
                        {{ search_form.edition.errors }}
                            <label class = "filter-label" for="{{ form.edition.id_for_label }}">Edition</label>
                        {{ search_form.edition }}
                    </div>
                    <div class="search price-field">
                        {{ search_form.price.errors }}
                            <label class = "filter-label" for="{{ form.price.id_for_label }}">Max Price</label>
                        {{ search_form.price }}
                    </div>
                </div>
                <div class = "arrange-as-row">
                    <div class = "search posted-since-field">
                        {{ search_form.posted_since.errors }}
                        <label class = "filter-label" for="{{ form.posted_since.id_for_label }}">Posted Since</label>
                        <div class = "cont-date-select" >{{ search_form.posted_since }} </div>
                    </div>
                    <div class = "search book-type-field">
                        {{ search_form.post_type.errors }}
                        <label class = "filter-label" for="{{ form.post_type.id_for_label }}">Book Type</label>
                        {{ search_form.post_type }}
                    </div>
                </div>
                <div>
                    <input class= "search-btn" type = "submit" value = "Apply Filter" name="filter">
                    <button class= "clear-btn" type = "submit" value = "clear" name="clear">Clear<img height=15px width=15px src = "{% static 'bookmark_inactive.svg' %}"/></button>
                </div>
            </form>
        </div>
    </div>

    <script>
        expands=document.querySelectorAll("img.expand");
        for(var i=0; i<expands.length;i++){
            expands[i].onclick=function(){
                //console.log("post-min-"+ this.id.substring(4,6));
                //console.log(this);
                this.classList.toggle("expanded");
                min = document.getElementById("post-min-"+ this.id.substring(4,6));
                min.nextElementSibling.classList.toggle("show");
            }
        }
    </script>

{% endblock %}