{% extends 'tradeboard/base.html' %}


{% block content %}
    <h1 style = "color:red">Welcome to the homepage</h1>
    <a href="{% url 'book_new' %}"> Sell Book</a>

    <form method="POST">
        {% csrf_token %}
        {{search_form.as_p}}
        <input type = "submit" value = "search" name="filter">
        <button type = "submit" value = "clear" name="clear">clear</button>
    </form>

    {% for post in posts %}
        <h2 style = "color:green"><a  href="{% url 'detail_book' post.pk %}">{{post.title}}</a></h2>
        <p>{{post.description}}</p>
        <img src = "{{ post.image.url }}" height = "40" width = "40">
        <ul>
            <li>Seller: {{post.seller}}</li>
            <li>Edition: {{post.edition}}</li>
            <li>ISBN: {{post.ISBN}}</li>
            <li>Author: {{post.author}}</li>
            <li>Date Posted: {{post.date_posted}}</li>
        </ul>
    {% endfor %}
{% endblock %}